<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @daily_exchange_rate.date %>
</p>

<%= link_to 'Edit', edit_daily_exchange_rate_path(@daily_exchange_rate) %> |
<%= link_to 'Back', daily_exchange_rates_path %>
